.preview-main-contents {
  width: 70%;
  background-color: white;
  margin: 40px auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
    .preview-main-content {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      display: flex;
      flex-direction: column;
      justify-content: center;
        .preview-main-content-title {
          height: 70px;
            .title-box {
              height: 100%;
              display: flex;
              border-bottom:gray 1px solid;
                .recipe-title {
                  height: 100%;
                  font-size: 22px;
                  font-weight: bold;
                  line-height: 70px;
                  color: yellowgreen;
                  margin-right: 10px;
                }
                .recipe-user {
                  font-size: 17px;
                  color: darkgray;
                  line-height: 70px;
                }
            }
        }
        .preview-main-content-recipe {
          display: flex;
          margin: 20px 0;
            img {
              height: 400px;
              margin-left: 100px;
            }
            .material-table-box {
              margin-left: 200px;
                .material-table-text {
                  font-size: 20px;
                  font-weight: bold;
                  color: orange;
                  margin-bottom: 10px;
                  border-bottom: gray 1px solid;
                }
                .material-table {
                  width: 200px;
                    tr {
                      margin: 7px 0;
                      border-bottom: gray 1px solid;
                    }
                }
            }
        }
        .preview-main-content-preview {
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
            .main-content-preview-text {
              font-size: 20px;
              font-weight: bold;
              color: orange;
            }
            .main-content-preview {
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;
              border-bottom: black 1px solid;
                .process-box {
                  display: flex;
                  margin: 20px 0;
                    .order-number {
                      width: 30px;
                      height: 40px;
                      font-size: 22px;
                      font-weight: bold;
                      color: orange;
                      text-align: center;
                      line-height: 40px;
                      margin: 0 10px;
                    }
                    .process-text {
                      width: 640px;
                      background-color: #f8f8f8;
                      border: black 1px solid;
                      border-radius: 4px;
                    }
                }
            }
        }
        .prview-form{
          width: 100%;
          display: flex;
          justify-content: center;
            .preview-btn {
              width: 200px;
              height: 60px;
              border-radius: 8px;
              font-size: 18px;
              font-weight: bold;
              line-height: 60px;
              text-align: center;
              background-color: gainsboro;
              color: white;
              display: block;
              margin-right: 30px;
              margin-bottom: 20px;
              text-decoration: none;
            }
        }
    }
}
