.register-contents {
  display: flex;
  flex-direction: column;
    .register-header {
      height: 100px;
      font-size: 35px;
      font-weight: bold;
      line-height: 100px;
      text-align: center;
    }
    .register-main {
      margin: 20px 0;
        &-content {
          display: flex;
          flex-direction: column;
          background-color: #f8f8f8;
          width: 40%;
          margin: 10px auto;
            &-text {
              height: 100px;
              font-size: 25px;
              font-weight: bold;
              line-height: 100px;
              text-align: center;
              border-bottom: 1px lightgray solid;
              margin-bottom: 20px;
            }
            .form-box {
              display: flex;
              flex-direction: column;
              width: 70%;
              margin: 0 auto;
                .form-group {
                  display: flex;
                  flex-direction: column;
                  margin: 20px 0;
                    .form-controll-text {
                      font-size: 17px;
                    }
                    .input-control {
                      height: 45px;
                    }
                }
                .register-btn {
                  width: 130px;
                  height: 50px;
                  background-color: blue;
                  color: white;
                  font-size: 20px;
                  text-align: center;
                  line-height: 50px;
                  border-radius: 5px;
                  margin: 40px auto 20px;
                  display: block;
                }
                .github-btn-box {
                  text-decoration: none;
                    .github-btn {
                      width: 240px;
                      height: 40px;
                      background-color: lightgray;
                      color: white;
                      font-size: 18px;
                      text-align: center;
                      line-height: 50px;
                      border-radius: 5px;
                      margin: 20px auto 30px;
                      display: block;
                    }
                }
            }
        }
    }
    .register-footer {
      height: 50px;
      font-size: 12px;
      line-height: 50px;
      text-align: center;
    }
}